html,
body {
    font-family: "Open Sans", sans-serif;
}

h1 {
    color: red;
}

h2 {
    color: white;
    background-color: black;
}

th,
td {
    border-collapse: collapse;
    padding: 1rem;
    border-bottom: 1px solid #ccc;
    text-align: left;
    margin: 0;
}

tr td:first-child {
    font-family: monospace;
}